# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- script: |
   curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain stable
  displayName: 'Install rustc'
- script: |
        export PATH=$PATH:$HOME/.cargo/bin
  displayName: 'Set environment varialbes'
- script: | 
        rustup target add thumbv7em-none-eabihf
  displayName: 'add arm target'
- script: |
        cargo build --release
  displayName: 'Build'